/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body {
    overflow: hidden;
}
body {
    position: relative;
    overflow: hidden;
}
.banner {
    min-height: -webkit-fill-available;
    min-height: calc(var(--vh, 1vh) * 100);
}

.logo {
    position: absolute;
    left: 45px;
    top: 30px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: 1;
}

.mobile {
    display: none;
}

.twitter {
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 115px;
}

.main-btn {
    position: absolute;
    width: calc(421px - 30px);
    height: calc(216px - 30px);
    bottom: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-bg-img, .mobile {
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: calc(var(--vh, 1vh) * 100);
}


@media screen and (max-width: 1400px){
    .logo {
        width: 110px;
        height: 110px;
    }

    .twitter {
        width: 100px;
    }

    .main-btn {
        width: calc(421px - 150px);
        height: calc(216px - 75px);
    }
}

@media screen and (max-width: 1200px){

    .logo {
        width: 100px;
        height: 100px;
    }

    .twitter {
        width: 100px;
    }

    .main-btn {
        width: calc(421px - 180px);
        height: calc(216px - 90px);
    }
}


@media screen and (max-width: 992px){
    .main-bg-img {
        position: absolute;
        left: -940px;
        top: 0;
        overflow: scroll;
        width: 1920px;
        max-width: 1920px;
        height: 100%;
    }

    .main-btn {
        width: 231px;
        height: 123px;
        bottom: 20px;
    }

    .twitter {
        width: 90px;
        right: 19px;
        top: 25px;
    }

    .logo {
        width: 90px;
        height: 90px;
        left: 19px;
        top: 20px;
    }
}


/* We set the fixed height for mobile landscape because there is not enough height space for the one screen section */
@media (max-width: 767px) {
    .hero {
        height: auto;
        min-height: 500px;
    }

    .logo {
        top: 20px;
        left: 15px;
        width: 80px;
        height: 80px;
    }

    .twitter {
        right: 15px;
        top: 28px;
        width: 80px;
        z-index: 10;
    }

    .main-bg-img {
        display: none;
    }

    .mobile {
        display: block;
    }
}
/* And then again calculate the height for the hero section */
@media (max-width: 479px) {
    .hero {
        height: calc(var(--vh, 1vh) * 100);
    }
}

@media screen and (max-width: 400px){
    .main-btn {
        /*width: 181px;*/
        /*height: 93px;*/
    }
}

